.BAK/
BAK/

.venv/
.venv_/
.venv*/
venv/
venv.bak/
ENV/

__pycache__/
*.pyc
*.py[cod]
*$py.class

example/
scratch/

setup/

.last_state.json
config.json
radio_config.json
log.txt
*.log

# PyInstaller builds
dist/
build/
upx-win64/

# User recordings
records/
